
@section scripts{
<script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script>
<script src="~/Scripts/library/angular.js"></script>
<script src="~/Scripts/app/ng-map.js"></script>
    }
    <div class="row">
        <div class="col-md-8 col-sm-8 col-sx-8" ng-app="ngMap">
            <ng-map center="[40.74, -74.18]"></ng-map>
        </div>
        <div class="col-md-4 col-sm-4 col-sx-4">
            <img src="~/Images/hotel.png" style="width:100%"/> 

        </div>
    </div>

